.logo-container {
  position: relative;
}
.logo-img {
  float: left;
  width: 15vw;
  height: 15vw;
  margin-top: -3%;
  border-radius: 20px;
  box-shadow: -5px 9px 20px -8px black;
  cursor: pointer;
}
.logo-h1 {
  position: absolute;
  left: 3%;
  margin-top: 3%;
  font-size: 2vw;
  cursor: pointer;
}
