.parent {
    display: grid;
    height: 100vh;
    grid-template: unset 
  }

  .header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 5;
  }

  .left {
    background: lightblue;
    padding: 2rem;
    grid-column: 1 / 2;
  }

  .main-content{
    padding: 2rem;
    background: coral;
    grid-column: 2 / 3;
  }
  .main-middle {
    padding: 2rem;
    background: palegreen;
    grid-column: 3 / 4;
  }

  .right {
    background: yellow;
    padding: 2rem;
    grid-column: 4 / 5;
  }

  .footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 5;
  }

  body {
    font-family: monospace;
  }

  .left-side,
.right-side, .middle {
  padding: 1rem;
}